<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/">Shop</a></li>
                    <li class="main-header__item"><a href="/products">Products</a></li>
                    <% if(isAuthenticated) { %>
                    <li class="main-header__item"><a href="/cart">Cart</a></li>
                    <li class="main-header__item"><a href="/order">Orders</a></li>
                   <li class="main-header__item"><a href="/add-product">Add-product</a></li>
                    <li class="main-header__item"><a href="/XX">Admin-Products</a></li>
                    <% } %>
                </ul>
                <ul class="main-header__item-list-auth">
                    <% if(!isAuthenticated) { %>
                    <li class="main-header__item"><a href="/login">LOGIN</a></li>
                    <li class="main-header__item"><a href="/signup">SIGNUP</a></li>
                </ul>        
                    <% } else { %>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                       <button class="cartlogout" type="submit">LOGOUT</button>
                    </form>
                    <% } %>
            </nav>
        <main>
            <div class="cartdata">
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h2 class="titlecart"><%= p.productid.title %></h2>
                            <h3 class="quantitycart">Quantity: <%= p.quantity %></h3>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productid._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="Deletecartbtn" type="submit">Delete</button>
                            </form>
                        </li>
                        <hr>
                    <% }) %>
                </ul>
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="ordernowbtn">Order Now!</button>
                </form>
            </div> 
                
            <% } else { %>
                <h1 class="noproduct">No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>